{% extends template %}

{% block content %}
	<div>
		<p>
			<input type="button" value="新規投稿" onClick="location.href='/create'">
		</p>
	</div>
{% if articles is defined %}
{% for article in articles %}
	<div>
		<p>
			<input type="button" value="削除" onClick="location.href='/delete/{{article.id}}'"></input>
			<input type="button" value="編集" onClick="location.href='/edit/{{article.id}}'">
			{{article.created_at}} : 「<a href="/detail/{{article.id}}">{{article.title}}</a>」
		</p>
	</div>
	<hr>
{% endfor %}
{% endif %}
{% endblock %}
